/* calendarStyles.css */

/* Estilos generales del calendario */
.react-calendar {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    background-color: #585858;
}

/* Estilos de las celdas del calendario */
.react-calendar__tile {
    background-color: #161616;
    color: #ffffff;
}

/* Estilos de las celdas activas (cuando se selecciona una fecha) */
.react-calendar__tile--active {
    background-color: #fde71df6;
}

/* Estilos del encabezado del calendario */
.react-calendar__navigation {
    background-color: #5f6264;
    color: #fff;
}

/* Estilos de las flechas de navegación del encabezado */
.react-calendar__navigation__arrow {
    color: #ffffff;
}

/* Estilos del texto del mes y año en el encabezado */
.react-calendar__navigation__label {
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilos de los días de la semana */
.react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-around;
    background-color: #5e5d5d;
    color: #fff;
    padding: 8px;
}

/* Estilos de cada día de la semana */
.react-calendar__month-view__days__day {
    margin: 2px;
    padding: 8px;
    cursor: pointer;
    color: #ffffff;
}

/* Estilo del cuadro seleccionado en el día actual */
.react-calendar__tile--now {
    background-color: gold !important; /* Dorado */
    color: #333; /* Texto oscuro */
}

/* Estilo del cuadro seleccionado en otros días */
.react-calendar__tile--active {
    background-color: #476170; /* Azul claro */
    color: white;
}
