{% extends "base.html" %} {% block content %}

<main>
  <section>
    <h1>Esto es la pagina de Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      maxime nihil reprehenderit velit similique, doloribus eveniet quaerat
      facilis, numquam minus iusto ipsam voluptates fuga animi obcaecati. Ex
      consectetur quidem ipsam.
    </p>
    <div>
      <a href="/login/">Iniciar Sesion</a>
      <a href="/registro/">Registrarse</a>
    </div>
  </section>
</main>

{% endblock %}
